{# src\Symfony\BiblioBundle\Resources\views\Livre\show.html.twig #}
<h1>{{ film.titre }}</h1>

<span>Ecrit par {{ film.auteur }}</span>

<p>{{ film.synonpsis }}</p>

<span>Date de sortie : {{ film.sortie }}</span>

<p><a href="{{ path('page_films') }}">Retour</a></p>